 * {         /* Phần của Ân   1 -59 */
    margin: 0;
    padding: 0;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    /* Phần background-image */
    background-image: url('png/background-header.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
  }
  
  .header a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 24px; 
    line-height: 25px;
    
  }
  
  .header a:hover {
    background-color: #000000;
    color: white;
  }
  
  .nav-items {
    float: left;
    margin-left: 750px;
    margin-top: 10px;
  }
  
  /* Responsive web(Web thích nghi) */
  @media screen and (max-width: 500px) {
    .header a {
      float: right;
      display: block;
      text-align: center;
      font-size: 16px; 
      border-style: none;
    }
    
    .nav-items {
      float: right;
    }

  }

  /* Phần Logo by Ân*/
  .logo {
    width: 20%;
    position: absolute;
    margin-top: -10px;
    margin-left: 10px;
  }

  /* Phần Menu by Ân*/
  .models {
    border-right: 2px solid #fff;
  }

  .support {
    border-right: 2px solid #fff;
  }

  .home {
    border-right: 2px solid #fff;
  }
  
    /* search bar */
    .search input[type=text]{
      width:200px;
      height:25px;
      border-radius:25px;
      border: none;
      opacity: 0.5;
      margin-right: 10px;
  }
   
  .search{
      float:right;
      margin:7px;
      margin-top: 22px;
  }
   
  .search button{
      background-color: #333;
      color: #f2f2f2;
      float: right;
      padding: 5px 10px;
      margin-right: 16px;
      font-size: 12px;
      border: none;
      cursor: pointer;
      border-radius: 45%;
  }
