 * {         /* Phần của Ân   1 -59 */
    margin: 0;
    padding: 0;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;

    /* Phần background-image */
    background-image: url('png/background-header.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center;
  }
  
  .header a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 24px; 
    line-height: 25px;
    
  }
  
  
  .header a:hover {
    background-color: #000000;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  /* Responsive web(Web thích nghi) */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  /* Phần Logo by Ân*/
  .logo {
    width: 20%;
  }

  /* Phần Menu by Ân*/
  .models {
    border-right: 1px solid #fff;
  }

  .support {
    border-right: 1px solid #fff;
  }

  .active {
    border-right: 1px solid #fff;
  }
  
